<link rel="stylesheet" href="{{static_url("css/header.css")}}">

<nav class="navbar navbar-default navbar-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="navbar-logo" style="background-image: url('{{static_url('images/nav_logo.png')}}');"></div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/chart/usd/">USD</a></li>
          <li><a href="/chart/eur/">EUR</a></li>
          <li><a href="/chart/ltc/">LTC</a></li>
          <li><a href="/chart/ars/">ARS</a></li>
      </ul>
    </div>

  </div>
</nav>
